<% if current_user %>
  <h2>Things To Do</h2>
  <table style="width: 100%">
    <thead>
      <tr>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @matters.each do |matter| %>
        <tr>
          <td><%= link_to matter.title, matter.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="panel">
    <h1>Try out app!</h1>
    <p>A simple app that keeps everything tasks in one place.</p>
    <%= link_to "Try it", new_user_registration_path, :class => "button button-large" %>
  </div>

  <hr>

<% end %>
